.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.login-form {
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    width: 320px;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    display: block;
    width: 92%;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem;
    width: auto;
    height: 100px;
}